@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  min-height: max(884px, 100dvh);
  overflow-x: hidden;
  width: 100%;
  position: relative;

}

@media (min-width: 768px) {
  a, 
  button, 
  input,
  div, 
  textarea, 
  select,
  [role="button"] {
    cursor: none !important;
  }
}

.glass-nav {
  background: rgba(248, 246, 246, 0.8);
  backdrop-filter: blur(12px);
}

.dark .glass-nav {
  background: rgba(34, 22, 16, 0.8);
}

.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(34, 22, 16, 0.2),
    rgba(34, 22, 16, 0.7)
  );
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.nav-cta-btn {
  position: relative;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.nav-cta-btn:hover {
  background-color: #000000;
  color: #000000;
}
.nav-cta-btn:hover span {
  color: #000000;
}

.nav-link {
  display: inline-block;
  transition:
    transform 0.3s cubic-bezier(0.16, 1, 0.3, 1),
    color 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.08);
  color: #f0e6d8 !important;
}

.menu-overlay {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


@keyframes cookie-journey {
  0% {
    top: -80px; /* За пределами экрана сверху */
    left: -80px; /* За пределами экрана слева */
    transform: rotate(0deg);
  }
  30% {
    top: 30vh;
    left: 20vw;
    transform: rotate(20deg);
  }
  60% {
    top: 50vh;
    left: 80vw; /* Улетает вправо */
    transform: rotate(-15deg);
  }
  100% {
    top: 80vh;
    left: 10vw; /* Возвращается влево вниз */
    transform: rotate(10deg);
  }
}

.animate-cookie-journey {
  /* Медленный, плавный пролет за 10 секунд */
  animation: cookie-journey 7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Мягкое парение самой иконки внутри контейнера */
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}
